# Introduction to Python
----------------------------------

This hands-on tutorial is intended to provide an introduction to concepts that are key to programming in Python (or most any other language), through the development of a worked example. Topics to be covered include:

- Interpreted languages
    - Development environments
- Variables
    - Data types
- Data structures
    - Lists
    - Dictionaries
- Control of execution
    - Loops
    - Conditions
- Troubleshooting

We will use Jupyter Notebooks for the tutorial. Learners are encouraged to use the interpreter or development environment of their choice. Python 3 is recommended.

## Python is an interpreted language

Code does not need to be compiled. It is evaluated and executed by an interpreter.

In [6]:
# Demonstration: Python as a calculator
# Mathematical expressions are evaluated using the standard order of operations (PEMDAS).
3 * ((14 / 7) + 99 - 16)

255.0

## Variables store values

In [8]:
# Values are assigned to variables using =
a = 5
b = 10
print("The value of 'a' is:", a)
print("The value of 'b' is:", b)

The value of 'a' is: 5
The value of 'b' is: 10

In [11]:
# Variables can be used in expressions
print("Sum of a + b:", a + b)
print("Product of a * b:", a * b)
print("a to the power of b:", a ** b)

Sum of a + b: 15
Product of a * b: 50
a to the power of b: 9765625

In [12]:
# The value of a variable can be modified in place.
# That is, it can be overwritten using the previous value.
t = 84
print("Initial value of t:", t)
t = t + (a * b)
print("Final value of t:", t)

Initial value of t: 84
Final value of t: 134

## Variables have data types

Python supports many different data types. Common data types are

- string (character data)
- integer
- floating point number
- boolean (True/False)

In [13]:
# Use the type() function to find out an object's data type
type(1)

int

In [14]:
type(1.0)

float

In [15]:
type("one")

str

In [16]:
type("1")

str

In [17]:
type(True)

bool

In [22]:
# Python will do its best to coerce data types as needed to evaluate an expression
print(1 + 1.0)
print(type(1 + 1.0))

2.0
<class 'float'>

In [24]:
# But generally expressions that attempt to perform operations on both string and numeric data types will cause an error.
# Troubleshooting tip - this is a common error.
print(1 + "1")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [29]:
# Let's use some variables to describe a car
make = "Honda"
model = "Fit"
year = 2013
cyl = 4
transmission = "manual"

In [30]:
# Describe a second car.
# What happens is we reuse the previous variable names?
# One solution is to use more variable names.
make_c2 = "GMC"
model_c2 = "Canyon"
year_c2 = 2006
cyl_c2 = 4
transmission_c2= "automatic"

In [31]:
# We can use this variable naming schema to describe any number of cars.
# Describe a third vehicle, using a '_c3' suffix after each of the common variable names.
make_c3 = "Honda"
model_c3 = "Rebel"
year_c3 = 2018
cyl_c3 = 1
transmission_c3 = "manual"

## Lists

A list is an ordered, mutable collection of objects.

In [32]:
# Ordered - in this case means not sorted
number_list = [1, 23, 8, 14, 200, 75, 6]
print(number_list)

[1, 23, 8, 14, 200, 75, 6]

In [34]:
# Objects in a list can be any data type
string_list = ["a", "ball", "car", "Jon"]
print(string_list)

['a', 'ball', 'car', 'Jon']

In [35]:
# We can mix data types in a list.
# For example if we create a list of information about one of our cars.
first_car = [make, model, year, cyl, transmission]

In [36]:
print(first_car)

['Honda', 'Fit', 2013, 4, 'manual']

In [37]:
# Mutable
# What if we want to update a value?
# We use the index position of the element we want to replace.
first_car[4]

'manual'

In [38]:
first_car[4] = 'standard'

In [39]:
print(first_car)

['Honda', 'Fit', 2013, 4, 'standard']

In [48]:
# more position indexing and slicing

## Loops

In [40]:
# Use a for loop to iterate over a collection:
for a in 'letter':
    print(a)

l
e
t
t
e
r

In [42]:
for v in first_car:
    print("value:", v)
    print("data type:", type(v))

value: Honda
data type: <class 'str'>
value: Fit
data type: <class 'str'>
value: 2013
data type: <class 'int'>
value: 4
data type: <class 'int'>
value: standard
data type: <class 'str'>

In [45]:
# Loops can be used to modify the value of a variable
c = 10
for i in range(1, 10):
    print("Initial value of c this time through the loop:", c)
    c += 1

print("Final value of c:", c)

Initial value of c this time through the loop: 10
Initial value of c this time through the loop: 11
Initial value of c this time through the loop: 12
Initial value of c this time through the loop: 13
Initial value of c this time through the loop: 14
Initial value of c this time through the loop: 15
Initial value of c this time through the loop: 16
Initial value of c this time through the loop: 17
Initial value of c this time through the loop: 18
Final value of c: 19

In [46]:
# Make two more car lists
second_car = [make_c2, model_c2, year_c2, cyl_c2, transmission_c2]
third_car = [make_c3, model_c3, year_c3, cyl_c3, transmission_c3]
print(second_car)
print(third_car)

['GMC', 'Canyon', 2006, 4, 'automatic']
['Honda', 'Rebel', 2018, 1, 'manual']

In [47]:
# We can create an inventory or catalog of our cars by nesting loops.
car_inventory = [first_car, second_car, third_car]